**/.DS_Store
.vscode/settings.json
vetur.config.js
chatbot/__latexindent_temp.tex
chatbot/chatbot_report.aux
chatbot/chatbot_report.bcf
chatbot/chatbot_report.fdb_latexmk
chatbot/chatbot_report.fls
chatbot/chatbot_report.log
chatbot/chatbot_report.out
chatbot/chatbot_report.run.xml
chatbot/chatbot_report.synctex.gz
chatbot/chatbot_report.toc
chatbot/chatbot_report.xdv
chatbot/chatbot_report.bbl
chatbot/chatbot_report.blg
design document/__latexindent_temp.tex
design document/design_doc.aux
design document/design_doc.bcf
design document/design_doc.fdb_latexmk
design document/design_doc.fls
design document/design_doc.log
design document/design_doc.out
design document/design_doc.run.xml
design document/design_doc.synctex.gz
design document/design_doc.toc
design document/design_doc.xdv
design document/design_doc.bbl
design document/design_doc.blg
design document/design_doc.lof
