**/.DS_Store
.vscode/settings.json
vetur.config.js
chatbot/__latexindent_temp.tex
chatbot/design_report.aux
chatbot/design_report.bcf
chatbot/design_report.fdb_latexmk
chatbot/design_report.fls
chatbot/design_report.log
chatbot/design_report.out
chatbot/design_report.run.xml
chatbot/design_report.synctex.gz
chatbot/design_report.toc
chatbot/design_report.xdv
chatbot/design_report.bbl
chatbot/design_report.blg
chatbot/design_report.pdf
design document/design_doc.aux
design document/design_doc.bcf
design document/design_doc.fdb_latexmk
design document/design_doc.fls
design document/design_doc.log
design document/design_doc.out
design document/design_doc.run.xml
design document/design_doc.synctex.gz
design document/design_doc.toc
design document/design_doc.xdv
design document/design_doc.bbl
design document/design_doc.blg
design document/design_doc.pdf
