/*** GLOBAL VARIABLES ***/

:root {
	--primary-color: #00a6fb;
	--light-color: #c0e9fe;
	--dark-color: #003554;
	--background: #ffffff;
	--alt-background: #f0faff;
	--error-color: #b00020;

	--font-family: 'Epilogue', sans-serif;
	--base-font-size: 16px;
	--h1-font-size: 36px;
	--h2-font-size: 28px;
	--h3-font-size: 24px;
	--h4-font-size: 14px;
	--btn-font-size: 16px;
	--logo-font-size: 20px;
	--p-font-size: 16px;
	--p-line-height: 22px;
	--p-spacing: 30px;
	--h1-font-weight: 800;
	--h2-font-weight: 400;
	--h3-font-weight: 200;
	--h4-font-weight: 300;
	--btn-font-weight: 700;
	--logo-font-weight: 700;
	--p-font-weight: 300;

	--app: 1000px;
	--page: 800px;
	--content: 650px;
	--half-page: 400px;
	--half-content: 325px;
	--padding: 3em;

	--wave-width: 110vw;
	--wave-height: 11vw; /* Fallback */
	--wave-height: calc(11vw - 1vw);
	--wave-height-neg: -11vw; /* Fallback */
	--wave-height-neg: calc(-11vw + 1vw);
	--wave-displacement: 100%; /* Fallback */
	--wave-displacement: calc(100% - 0.5vw);

	--nav-height: 4em;
	--divider-width: 80px;
	--divider-small-width: 60px;
	--line-weight: 3px;
	--line-radius: 1.5px;
}

/*** TYPOGRAPHY ***/

body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--background);
	font-family: var(--font-family);
	font-size: var(--base-font-size);
}

h1,
.h1 {
	font-size: var(--h1-font-size);
	font-weight: var(--h1-font-weight);
	color: var(--dark-color);
}
h2,
.h2 {
	font-size: var(--h2-font-size);
	font-weight: var(--h2-font-weight);
	color: var(--dark-color);
}
h3,
.h3 {
	font-size: var(--h3-font-size);
	font-weight: var(--h3-font-weight);
}
h4,
.h4 {
	font-size: var(--h4-font-size);
	font-weight: var(--h4-font-weight);
}
p {
	font-size: var(--p-font-size);
	font-weight: var(--p-font-weight);
	line-height: var(--p-line-height);
}
p ~ p {
	margin-top: var(--p-spacing);
}

a,
a:visited {
	color: var(--primary-color);
}
a:hover,
a:focus {
	color: var(--light-color);
}

.spacer {
	position: relative;
	text-align: center;
	margin-bottom: 2em;
	margin-bottom: calc(2em + var(--line-weight));
}

.spacer::after {
	content: '';
	position: absolute;
	bottom: -1em;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: var(--divider-width);
	height: var(--line-weight);
	border-radius: var(--line-radius);
	background-color: var(--primary-color);
}

.spacer.spacer-small {
	text-align: inherit;
}
.spacer.spacer-small::after {
	margin: 0;
	width: var(--divider-small-width);
}

/***Buttons***/
.buttons {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.section {
	padding: var(--padding);
}
.section .content {
	max-width: var(--page);
	margin: 0 auto;
}

/***Grid***/
.grid {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.grid.small {
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

/*** Sections ***/
.alt-section {
	position: relative;
	background-color: var(--alt-background);
	padding: var(--padding);
}
.alt-section .content {
	max-width: var(--content);
	margin: 0 auto;
}

/*** Background Waves ***/
.wave-before {
	margin-top: var(--wave-height);
	position: relative;
}
.wave-after {
	margin-bottom: var(--wave-height);
	position: relative;
}
.wave-before::before,
.wave-after::after {
	content: '';
	position: absolute;
	width: var(--wave-width);
	height: var(--wave-height);
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
}
.wave-before::before {
	bottom: var(--wave-displacement);
	background-position: center bottom;
}
.wave-after::after {
	top: var(--wave-displacement);
	background-position: center top;
}
.wave-convex-bg::after {
	background-image: url('/waves/convex-bg.svg');
}
.wave-convex-alt::after {
	background-image: url('/waves/convex-alt.svg');
}
.wave-concave-alt::before {
	background-image: url('/waves/concave-alt.svg');
}
.wave-concave-dark::before {
	background-image: url('/waves/concave-dark.svg');
}

/*** Cards ***/
.card {
	background-color: var(--background);
	padding: 2em;
	border-radius: 1em;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card .icon {
	color: var(--primary-color);
}
.card.interactive {
	cursor: pointer;
	transition: 0.35s box-shadow ease-in-out;
}
.card.interactive:hover,
.card.interactive:focus {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/*** Page Transition ***/
.page-enter-active,
.page-leave-active {
	transition: 0.35s opacity ease-in-out;
}
.page-enter,
.page-leave-to {
	opacity: 0;
}

/*** Remove Horizontal Overflow ***/
#__layout {
	overflow-x: hidden;
}
